---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import HeroSection from "../components/HeroSection.astro";
import ModelYSection from "../components/ModelYSection.astro";
---

<Layout title="Tesla">
  <NavBar />
  <main class="relative w-full h-screen overflow-y-auto snap-y snap-mandatory">
    <HeroSection />
    <ModelYSection />
  </main>
</Layout>
