---
import Section from "./templates/Section.astro";
---

<Section title="Accesorios" subtitle="" color="black">
  <div slot="footer">
    <a
      class="text-black text-base py-[6px] px-14 bg-white rounded inline-block
             hover:bg-white/80 transition-colors backdrop-blur-md"
      href="#">Comprar ahora</a
    >
  </div>

  <img
    class="object-center object-cover w-full h-full"
    src="/images/accessories.avif"
    slot="media-background"
  />
</Section>