<section
  class="h-full w-full overflow-hidden relative bg-black text-center snap-center section"
  data-header-color="white"
>
  <div class="relative z-10 flex flex-col h-full">
    <header>
      <h2 class="pt-40 pb-2 text-white text-4xl font-medium">
        Disfrute de Tesla
      </h2>
      <p class="text-white text-sm">
        Programa una prueba de conducción hoy mismo
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end mb-20">
      <div>
        <a
          class="text-white text-sm py-1 px-9 border-white border-2 rounded inline-block
             hover:bg-gray-300/70 transition-colors backdrop-blur-md"
          href="#">Prueba de conducción</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 w-full h-full">
    <video
      class="object-center object-cover w-full h-full"
      src="/home_video.webm"
      autoplay
      muted
      loop
    >
    </video>
  </div>
</section>
