---
const { imagePath } = Astro.props;
---

<div class="min-w-full h-full snap-center overflow-hidden">
    <img
      class="object-center object-cover w-full h-full"
      src={imagePath}
    />
</div>