<section
  class="h-full w-full overflow-hidden relative bg-black text-center snap-center section"
  data-header-color="black"
>
  <div class="relative z-10 flex flex-col h-full">
    <header>
      <h2 class="pt-40 pb-2 text-black text-4xl font-medium">
        Modelo Y
      </h2>
      <p class="text-black text-sm underline">
        Concertar una prueba de conducción
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end mb-20">
      <div class="flex flex-row gap-x-7 w-full justify-center">
        <a
          class="text-white text-sm py-[6px] px-9 rounded inline-block bg-gray-700
            hover:bg-gray-700/70 transition-colors"
          href="#">Explorar inventario</a
        >
        <a
          class="text-black text-sm py-[6px] px-9 rounded inline-block bg-white
            hover:bg-white/70 transition-colors backdrop-blur-md"
          href="#">Pedido personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 w-full h-full">
    <img class="object-center object-cover w-full h-full" src="/images/model-y.avif">
  </div>
</section>