---
import Section from "./templates/Section.astro";
---

<Section
  id="powerwall"
  title="Solar y Powerwall"
  subtitle="Energía para todos"
  color="black"
>
  <div slot="footer">
    <a
      class="text-white text-base py-[6px] px-14 bg-black/60 rounded inline-block
             hover:bg-black/40 transition-colors backdrop-blur-md"
      href="#">Saber más</a
    >
  </div>

  <img
    class="object-center object-cover w-full h-full"
    src="/images/powerwall.avif"
    slot="media-background"
  />
</Section>
